<body>
    <%- include('./partials/header.ejs') %>

<div class="container-fluid mt-3">
    <div class="container">
        <div class="container p-3 text-center">
            <h4 class="card-text">Founder & Principal of Al-Hera Ideal Madrasah</h4>
            <img src="/img/team/founder.jpg" class="img-thumbnail" alt="Madrasha Principle">
            <h3 class="card-title">Kabir Ahmed</h3>
            
            <h6>M.A (Dawrah), Kamil(M.A) in Hadith, Honours in Quranic Science & Islamic studies, M.A in Quranic
                science & Islamic studies</h6>
        </div>
        <p>Al Hera Ideal Madrasah was established on 4th Octber 2019 by Sheikh Kabir Ahmed. It is
            aspires to impart both academic and religious proficiency to the pupils. Our Madrasah imparts
            activity-based
            education for kindergarten and early primary pupils and the globally acclaimed International GCSE is
            utilized for higher
            classes. By the marcy of the almighty Allah, we’re successfully stepping into our 5th year and we
            are ecstatic to proclaim that we
            have been successfully pursuing the core principles on which Our Madrasah was established. We, at Al
            Hera Ideal
            Madrasah primarily focus on moulding students both academically and religiously. We also at the same
            time don’t stifle the
            students with study materials beyond what they can bear. The welfare of beloved students and
            teachers are always our
            initial priority. We give them sovereignty at the same time we also accentuate on education. We also
            allow the students
            to contribute to numerous sporting events to keep them physically fit and also underline the
            significance of teamwork.
            Our outstanding teachers and support staff are committed to develop and nurture our student’s faith
            in Allah, and to
            prepare them to pass with flying colours with quality education and the ability to share their
            faith.</p>
    </div>
    <div class="container text-center p-3 mt-3">
        <div class="container d-flex justify-content-center">
            <div class="card" style="width:400px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="/img/team/vp.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Mohammad Shahnewaz Forkan Al-Amin</h4>
                    <h6 class="card-text">Assistant Director & Vice-Principal</h6>
                    <p>Kamil ( M.A) in Hadith, Kamil (M.A) in Tafsir, B.B.A (Accounting), M.B.A (Accounting), B.A (Fazil),
                        LL.B (Professional),
                        Khatib- Kamdor Ali Fukir Shahi Jame masjid, Borohatia, Lohagara, Chattogram</p>
                </div>
            </div>
        </div>
        <p>Stepping into the 5th year we feel obliged to follow the same principles for the rest of this Madrasah’s
            history.
            Our
            essential focus is to impart both academic and religious understanding and beliefs and also strengthen our
            student’s
            character by imbuing academic and moral excellence.</p>
    </div>
    <h3 style="text-align:center; margin-top: 20px;">Our Honorable Advisers</h3>
    <div class="row mt-3 text-center">
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width:400px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="/img/team/adviser_1.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Professor Dr. Mawlana Sayeed Abu Noman</h4>
                    <p class="card-text">Ex principal, Baitush Sharaf Ideal Kamil ( M.A) Madrasah</p>
                </div>
            </div>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width:400px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="/img/team/adviser_2.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Dr. Mowlana Mohammad Momatz Uddin Qaderi</h4>
                    <p class="card-text">Professor, Islamic Studies. University of Chittagong</p>
                </div>
            </div>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width:400px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="/img/team/adviser_3.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Dr. Mohammad Gias Uddin Talukder</h4>
                    <p class="card-text">Professor, Arabic Depertment. University of Chittagong</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 text-center">
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width:400px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="/img/team/adviser_4.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Dr. Mowlana A F M Khaled Hossen</h4>
                    <p class="card-text">Ex-professor, Omargoni M E S University College</p>
                </div>
            </div>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width:400px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="/img/team/adviser_5.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Professor Dr. Mohammad Mustafa Kamil Madani</h4>
                    <p class="card-text">Depertment of Islamic studies. International Islamic University Chattogram</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 text-center">
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width:400px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="/img/team/adviser_6.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Dr. Mohammad Lutful Rahman Al-Azhari</h4>
                    <p class="card-text">Assistant Professor, International Islamic University Chattogram.</p>
                </div>
            </div>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width:400px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="/img/team/adviser_7.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Mowlana Ahmedur Rahman Nadwi</h4>
                    <p class="card-text">Mohaddith, Darul Ulum Alia Madrasah, Chattogram</p>
                </div>
            </div>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <div class="card" style="width:400px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="/img/team/adviser_8.jpg" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Hafiz Mowlana Mohammad Anowarul Hoque Azhari</h4>
                    <p class="card-text">Senior Imam, Anderkillah shahi jame Mosjid, Chattogram</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        
    </div>
</div>

        <%- include('./partials/footer.ejs') %>

</body>