<body>
  <%- include("./partials/header.ejs") %>
    <div class="hideInMobile" style="height: 100px;"></div>
    <div class="container-fluid bg-info border p-4" style="max-width: 300px;border-radius: 10px;">
        <!-- Form  -->
            <div class="container text-light">
                <h4>Admin Login</h4>
            </div>
             
                <%- include('./partials/error.ejs') %>
            
            <form action="/alhera2023admin/login" method="POST">
                <div class="container mt-5">
                    <div class="row mt-3">
                        <div class="form-group p-0">
                        <select class="form-control" name="campus">
                            <option value="">Select Campus</option>
                            <option value="khulshi_campus">Khulshi Campus</option>
                            <option value="kadamtali_campus">Kadamtali Campus</option>
                            <option value="majhirghat_campus">Majhirghat Campus</option>
                        </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                            <input type="text" class="form-control" name="email" placeholder="Email" required>
                    </div>
                    <div class="row mt-3">
                            <input type="text" class="form-control" name="password" placeholder="Password" required>
                    </div>
                    <div class="row d-flex justify-content-start mt-4">
                        <input class="btn btn-success mr-2" name="submit" type="submit" value="Login">
                    </div>
                </div>
            </form>
        </div> 
</body>