<body>
    <!-- <div class="container text-dark text-center p-3 p">
        <h2 class="welcomeMsg" style="font-family: fantasy;">Class Routine</h2>
    </div> -->
    
    <div class="row">
        <div class="col-4">
            <div class="container text-center bg-warning border" style="max-width: 300px; padding: 20px; margin: auto; border-radius: 10px;">
                <div class="list-group">
                    <a
                    addr="/routine/0"
                    srl="0"
                    class="list-group-item list-group-item-action list-group-item-info"
                    >Play</a
                    >
                    <a
                    addr="/routine/1"
                    srl="1"
                      class="list-group-item list-group-item-action list-group-item-warning"
                    >Nursery</a
                    >
                    <a
                      addr="/routine/2"
                      srl="2"
                      class="list-group-item list-group-item-action list-group-item-primary"
                      >Class 1
                    </a>
                    <a
                      addr="/routine/3"
                      srl="3"
                      class="list-group-item list-group-item-action list-group-item-success"
                      >Class 2
                    </a>
                    <a
                    addr="/routine/4"
                    srl="4"
                      class="list-group-item list-group-item-action list-group-item-secondary"
                      >Class 3
                    </a>
                    <a
                    addr="/routine/5"
                    srl="5"
                      class="list-group-item list-group-item-action list-group-item-info"
                      >Class 4
                    </a>
                    <a
                    addr="/routine/6"
                    srl="6"
                      class="list-group-item list-group-item-action list-group-item-warning"
                      >Class 5
                    </a>
                    <a
                    addr="/routine/7"
                    srl="7"
                      class="list-group-item list-group-item-action list-group-item-danger"
                      >Class 6
                    </a>
                    <!-- <a
                    addr="/routine/8"
                    srl="8"
                      class="list-group-item list-group-item-action list-group-item-primary"
                      >Class 7
                    </a>
                    <a
                    addr="/routine/9"
                    srl="9"
                      class="list-group-item list-group-item-action list-group-item-dark"
                      >Class 8
                    </a>
                    <a
                    addr="/routine/10"
                    srl="10"
                      class="list-group-item list-group-item-action list-group-item-warning"
                      >Class 9
                    </a>
                    <a
                    addr="/routine/11"
                    srl="11"
                      class="list-group-item list-group-item-action list-group-item-success"
                      >Class 10
                    </a> -->
                </div>
            </div>
        </div>
        <div class="col d-column">
          <div class="container d-flex">
            <div class="container" id="download">
              
            </div>
            <div class="container" id="print">
            </div>
          </div>
          <div class="row">
            <div class="container text-dark text-center p-3 p">
              <h2 id="classTitle" style="font-family: fantasy;">Class Routines</h2>
            </div>
            <table id="tbl" class="table table-bordered table-striped">
              <thead class="thead-dark text-center">
                  <th>Day</th>
                  <th>8 AM-9:10 AM</th>
                  <th>9:11 AM-10:10 AM</th>
                  <th>10:11 AM-10:39 AM</th>
                  <th>10:40 AM-11:50 AM</th>
                  <th>11:50 AM-1:00 PM</th>
              </thead>
              <tbody id="routineData" class=" text-center">
                
              </tbody>
            </table>
          </div>
          <div style="height: 100px;"></div>
        </div>
    </div>

    <script>
        $(document).ready(() => {
            $('a').click((e) => {
              let url = e.target.getAttribute('addr')
              $('#tbl').addClass('table-primary')

                $.ajax({
                        url: url,
                        type: 'GET',
                        success: (data) => {
                          $('#routineData').empty()
                          let d = data[0]
                            $('#download').append(d)
                          let title = data[1]
                            $('#classTitle').text(title)
                          for (let i = 0; i < data.length; i++) {
                            if (i === 0) {
                                continue
                            };
                            if (i === 1) {
                              continue
                            };
                            
                            switch (i) {
                              case 0:
                                day = "Sat";
                                break;
                              case 1:
                                day = "Sun";
                                break;
                              case 2:
                                day = "Mon";
                                break;
                              case 3:
                                day = "Tue";
                                break;
                              case 4:
                                day = "Wed";
                                break;
                              case 5:
                                day = "Thu";
                          }

                            $('#routineData').append(`<tr><td><strong>${day}</strong></td></tr>`)
                            const info = data[i];
                            
                            for (let i = 0; i < info.length; i++) {
                                const elem = info[i];
                                $('#routineData').children().last().append(`<td>${elem}</td>`)
                            }
                          }
                        }
                    })
            })
        })
    </script>

   
    
   

    <p>
          Insight International School, Dhaka (IISD) is a common dream of Muslims in 
          Bangladesh and whole world. It is a unique school that provides excellent 
          academic education based on authentic Islamic guidelines. It is led by a team 
          of dynamic, sincere, and visionary leaders to grow into a well-recognized 
          educational system, Alhamdulillah.
        </p>
        <br>
        <p>
          IISD is an earnest effort to set new standards of education that will 
          produce students of knowledge and virtue, whose hearts are filled with 
          love and trust in Allah and who are skilled verbally, mentally and socially. 
          Blessed with visionary leadership and a highly dedicated team, we are determined 
          to produce true representatives of the Muslim Ummah having the ideal qualities of 
          practical Muslims who will be valuable for the society, Insha’Allah. Such an 
          all-rounded personality is developed by moral-based education guided by the 
          Quraan and Sunnah. In this way, by practicing Islam, the teachers here are the 
          excellent role models for the students.
        </p>
</body>

<body>
  <%- include('./partials/header.ejs') %>

    <div class="container bg-info p-5 f mt-4" style="max-width: 600px;">

      <div class="container text-warning text-center">
        <h4 class="welcomeMsg">Register</h4>
      </div>

      <%- include('./partials/error.ejs') %>
        <%- include('./partials/successMsg.ejs') %>
          <form action="/register/registerNewStudent" method="POST" enctype="multipart/form-data">
            <div class="row bg-info p-3 mt-3">
              <div class="col">
                <div class="flex-column justify-content-end">
                  <div>
                    <img style="border-radius: 50%; max-height: 100px;max-width: 100px;" src="/img/profile.png"
                      alt="pic">
                  </div>
                  <div class="mt-2">
                    <input type="file" name="avatar">
                  </div>
                </div>
              </div>
            </div>
            <div class="container p-3 bg-info text-light">
              <div class="row ip mt-3">
                <div class="col-lg-4 ip">
                  <h6><label for="nameEnglish">Full name in English</label></h6>
                </div>
                <div class="col-lg-8 ip">
                  <input type="text" id="nameEnglish" class="form-control ip" name="nameEnglish" required>
                </div>
              </div>
              <div class="row ip mt-3">
                <div class="col-lg-4 ip">
                  <h6><label for="fNameEnglish">Fathers name in English</label></h6>
                </div>
                <div class="col-lg-8 ip">
                  <input type="text" class="form-control ip" name="fNameEnglish" required>
                </div>
              </div>
              <div class="row mt-3">
                <div class="form-group p-0">
                  <select class="form-control" name="campus" required>
                    <option value="">Select Campus</option>
                    <option value="khulshi_campus">Khulshi Campus</option>
                    <option value="kadamtali_campus">Madarbari Campus</option>
                    <option value="majhirghat_campus">Majhirghat Campus</option>
                  </select>
                </div>
              </div>
              <div class="row ip mt-3">
                <div class="col-lg-4 ip">
                  <h6><label for="preferredClass">Preferred Class of Admission</label></h6>
                </div>
                <div class="col-lg-8 ip">
                  <div class="form-group">
                    <select class="form-control" id="sel1" name="preferredClass">
                      <option>Nursery</option>
                      <option>K.G</option>
                      <option>Class 1</option>
                      <option>Class 2</option>
                      <option>Class 3</option>
                      <option>Class 4</option>
                      <option>Class 5</option>
                      <option>Class 6</option>
                      <option>Class 7</option>
                      <option>Class 8</option>
                      <option>Class 9</option>
                      <option>Class 10</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row mt-3 ip">
                <div class="col-lg-4 ip">
                  <h6><label for="preferredSection">Preferred Section</label></h6>
                </div>

                <div class="col-lg-8 ip">
                  <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                      <input type="radio" class="form-check-input" id="radio1" name="preferredSection"
                        value="Hifz & Academic">Hifz
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label" for="radio2">
                      <input type="radio" class="form-check-input" id="radio2" name="preferredSection"
                        value="Only Academic">Academic
                    </label>
                  </div>
                </div>
              </div>
              <div class="row ip mt-3">
                <div class="col-lg-4 ip">
                  <h6><label for="emergencyContact">Emergency contact number</label></h6>
                </div>
                <div class="col-lg-8 ip">
                  <input type="text" class="form-control ip" name="emergencyContact" required>
                </div>
              </div>
              <div class="row mt-3 ip">
                <div class="col-lg-4 ip">
                  <h6><label for="password">Password</label></h6>
                </div>
                <div class="col-lg-8 ip">
                  <input type="password" class="form-control ip pass" name="password" required>
                </div>
              </div>
              <div class="row d-flex justify-content-end mt-4 mr-3">
                <input class="btn btn-success mr-2" name="submit" type="submit" value="Ragister">
              </div>
          </form>
    </div>

</body>

let shift = "";
if (req.body.shift == "") {
shift = req.body.updatedShift;
} else {
shift = req.body.shift;
}
