<body>
    <%- include('./partials/header.ejs') %> 

    <div class="text-center" style="background-image: url(/img/bg_2.jpg);
      background-size: cover;padding: 70px 0;">
        <h1 style="font-size: 35px;font-weight: bolder;color: white;">WELCOME TO GALLERY</h1>
    </div>
    <div class="container-fluid d-flex justify-content-center flex-wrap align-content-stretch">
        
        <% let p = 1; for (let i = 0; i < 12; i++) { p++ %>
            <div class="container d-flex justify-content-center m-2 imgHoverDiv" style="max-width: 450px; box-shadow: 2px 2px 5px;">
                
                <img class="img-fluid rounded p-2 imgHoverEffect" onclick="onClick(this)" src="/img/banner/<%=p%>.jpg" alt="Image" style="cursor:pointer">
                <!-- <div class="w3-container w3-third">
                    <img src="/img/banner/<%=p%>.jpg" style="width:100%;cursor:pointer" onclick="onClick(this)" class="w3-hover-opacity">
                </div> -->
            </div>
            <% } %> 
    </div>
    <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
        <div class="w3-modal-content w3-animate-zoom">
            <img id="img01" style="width:100%">
        </div>
    </div>

    <%- include('./partials/footer.ejs') %> 
    <script>
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
        }
    </script>
</body>