<body style="background-image: url(/img/bg.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;">

  <div class="container-fluid">   
    <div class="row">
      <div style="height: 50px;" class="col-sm border m-2 boxShadow bg-primary p-2 d-flex justify-content-center">
        <h5 class="text-light mt-1">Residential</h5>
      </div>
      <div style="height: 50px;" class="col-md border m-2 boxShadow bg-warning p-2 d-flex justify-content-center">
        <h5 class="text-light mt-1">Non Residential</h5>
      </div>
      <div style="height: 50px;" class="col-sm border m-2 boxShadow bg-info p-2 d-flex justify-content-center">
        <h5 class="text-light mt-1">Daycare</h5>
      </div>
      <div style="height: 50px;" class="col-sm border m-2 boxShadow bg-info p-2 d-flex justify-content-center">
        <h5 class="text-light mt-1">Boys/Girls Section</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <div class="container">
          <img class="img-fluid rounded-circle mt-4" src="img/ourclass.jpg" alt="Heading"/>
        </div>
        
        <!-- <img class="img-fluid mt-4" src="img/banner2.png" alt="Heading" /> -->
      </div>
      <div class="col d-column justify-content-center">
        <div class="row" style="height: 50px;"></div>
        <div class="row d-column justify-content-center border p-3">
          <h4>Assalmu-Alaikum...!!!</h4>
          <p>
            Dear Parents,<br>
            Hope you are well by the mercy of almighty Allah.
            Are you worried about your childrens study?<br>
            Admiting him/her in a general school may deprive him/her from the Islamic knowledge.
            On the contrary admiting him/her in a Madrasha may deprive him/her from the general knowledge.
            Does this make you worried?<br>
            Getting exhausted taking him/her in both School and Madrasha together?
            <strong>No worries anymore!!!</strong><br>
            <strong style="font-style: italic;">Iqra Model Dakhil Madrasha</strong>&nbsp;can solve your problems by the help of Allah.
            Your child will aquire both knowledge general as well as arabic in this single institute.
            Which has been organized based on semester-based competitive Islamic education, there is a model education curriculum that combines modern general education altogether.<br>
            <br>
            Therefore, Select the best education institute <strong>Iqra Model Dakhil Madrasha</strong> for your children and make this act a cause for the Jannah.<br><br>
            
            Thanks and regards <br>
            Hafiz Maulana Muhammad Alamgir Al-Madani
          </p>
        </div>
        
      </div>
    </div>
    <div class="container">
      <div class="container" style="max-width: 300px;">
        <img class="img-fluid rounded-circle mt-4" src="img/cccamra.jpg" alt="Heading"/>
      </div>
      <div class="container" style="max-width: 300px;">
        <h6>Always controlled by CCTV camra!</h6>
      </div>
    </div>
    <div class="container-fluid" style="height: 30px;"></div>
    <div class="row">
      <div class="col-md">
        <div class="container-fluid d-column justify-content-center noticeTxt">
          <div class="container-fluid d-flex justify-content-center">
            <h2 class="text-warning examadd" style="font-family: fantasy;">Contact us for registration of</h2>
          </div>
          <div class="container-fluid d-flex justify-content-center">
            <h2 class="text-warning examadd" style="font-family: fantasy;">EEC Examination-2022</h2>
          </div>
          <div class="container d-flex justify-content-center">
            <img src="/img/icons.jpg" alt="Image"class="icons">
            <!-- <i class="fa fa-whatsapp text-success" style="font-size:36px"></i> -->
          </div>
          <div class="container d-flex justify-content-center">
            <h2 class="examadd" style="font-family: fantasy;">+001880011300</h2>
          </div>
        </div>
        <div class="container notice">
          <!-- <img class="img-fluid" src="/img/notice.jpg" alt="Img" style="max-width: auto; max-height: 300px;"> -->
          <img class="img-fluid ml-4" src="/img/examadd.jpg" alt="Img" style="max-width: auto; max-height: 300px;">
        </div>
      </div>
      <div class="col admission">
          <!-- <div class="col d-flex justify-content-center">
          <img class="img-fluid" src="/img/notice.jpg" alt="Img" style="max-width: auto; max-height: 300px;">
          <img class="img-fluid noticeeng" src="/img/noticeeng.jpg" alt="Img" style="max-width: auto; max-height: 300px;">
          </div> -->
          <div class="container-fluid d-column justify-content-center mt-5">
            <div class="container-fluid d-flex justify-content-center">
              <h1 class="examadd" style="font-family: fantasy;">Admission going on !!!</h1>
            </div>
            <div class="container-fluid d-flex justify-content-center">
              <h5 class="admDisc">Maktab section</h5>
            </div>
            <div class="container-fluid d-flex justify-content-center">
              <h5 class="admDisc">Ebtidaee section with nazirah</h5>
            </div>
            <div class="container-fluid d-flex justify-content-center">
              <h5 class="admDisc">Dakhil section with part-time hifz</h5>
            </div>
            <div class="container-fluid d-flex justify-content-center">
              <h5 class="admDisc">Special islamic course for adults</h5>
            </div>
          </div>
        
      </div>
    </div>
  </div>


  <%- include('./partials/footer.ejs') %> 
</body>
