<body>
    <%- include('./partials/header.ejs') %> 

    <div class="container mt-3">
        <h4 class="our_services">Why Al-Hera...?</h4>
        <p>Al-Hera Ideal Madrasah is an Arabic & English Medium Institute based on 
            Islamic & Modern Education System. We focus on the mind, soul and health of our students, 
            to help them develop balanced personalities.
            <br>
            Extraordinary days at Al-Hera Ideal Madrasah! 
            Our teachers help the students to improve daily, in the classroom, 
            sports field, public performance, or science laboratory.
            <br>
            Our teachers are enthusiastic, cooperative and committed, 
            ready to go that extra mile to see their students succeed.
            <br>
            
        </p>
    </div>
    <div class="container">
        
        <div class="row">
            <div class="col-md">
                <div class="container-fluid p-0" style="box-shadow: 2px 2px 5px;">
                    <img class="img-fluid rounded p-2" src="/img/banner/girlsHifzBanner.jpg" alt="Hifz school for girls">
                        <h6 class="font-italic _head p-2"
                    id="firstHeading"
                    style="color: #008a4b"
                    >
                        Special Hifz section for your girl with female teather
                        </h6>
                </div>
            </div>
            <div class="col">
                <div class="container-fluid p-0" style="box-shadow: 2px 2px 5px;">
                    <img class="img-fluid rounded p-2" src="/img/banner/cccamera.jpg" alt="Hifz school for girls">
                        <h6 class="font-italic _head p-2"
                    id="firstHeading"
                    style="color: #008a4b"
                    >
                    We ensure 100% security for your kids with CCTV Camera everywhere.
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <p>
        It is simply unique! one that attracts your attention from the time 
            you step into the school. The scent of Islam comes from all sides, 
            personified throughout the campus through collective acts of all members.
    </p>
    </div>

   <div class="container">
        <h5 class="font-italic">Educational Facilities</h5>
        <ul>
            <li class="font-italic">Play to Class 8</li>
            <li class="font-italic">Hifzul Quraan individual section for boys & girls</li>
            <li class="font-italic">Modern Language Course for Arabic & English</li>
            <li class="font-italic">Ideal Maktab Section general students</li>
        </ul>
    </div>

    <div class="row mt-3">
        <div class="col-md">
            <img class="img-fluid" src="/img/banner3.jpg" alt="Banner">
        </div>
        <div class="col">
            <div class="container d-flex justify-content-center">
                    <h6>Other Facilities</h6>
                </div>
            <div class="container d-flex justify-content-center">
                
                <ul>
                    <li><p class="ftr_subsc">We ensure semister based teaching system.</p></li>
                    <li><p class="ftr_subsc">We make sure that students complete their study in class.</p></li>
                    <li><p class="ftr_subsc">No home work for the student.</p></li>
                    <li><p class="ftr_subsc">Students are given here subject wise hand notes.</p></li>
                    <li><p class="ftr_subsc">We provide special class for weak students.</p></li>
                    <li><p class="ftr_subsc">We arrange special coaching for student.</p></li>
                    <li><p class="ftr_subsc">We provide lesson plan based teaching.</p></li>
                    <li><p class="ftr_subsc">We ensure creative teaching system based on the main book.</p></li>
                    <li><p class="ftr_subsc">We arrange class test, quize competition, monthly model test for the students
                        in order to prepare them for the main exam.</p></li>
                    <li><p class="ftr_subsc">We ensure entertainment facilities for the student.</p></li>
                    <li><p class="ftr_subsc">We maintain regular health checkup.</p></li>
                    <li><p class="ftr_subsc">We make sure our educational stuffs are well standard.</p></li>
                    <li><p class="ftr_subsc">Our casses are conducted by higher educated, Well experienced, well mannered teachers.</p></li>
                    <li><p class="ftr_subsc">Special training for beautifying handwriting.</p></li>
                    <li><p class="ftr_subsc">Fair, beautiful and pleasant environment for education.</p></li>
                    <li><p class="ftr_subsc">We communicate with the parents regularly.</p></li>
                    <li><p class="ftr_subsc">We conduct parents meeting in every 4 months.</p></li>
                    <li><p class="ftr_subsc">We do not let our students to return home with any stranger.</p></li>
                        
                </ul>
            </div>
        </div>
    </div>

  <%- include('./partials/footer.ejs') %> 
   
</body>