<body>
  <%- include('./partials/header.ejs') %> 
  <div class="container p-3">
    <a class="btn btn-outline-info admin-button" href="/alhera2023admin">Admin Panel</a>
  </div>
    <div class="container f text-center" style="max-width: 400px;">
        <div class="container text-center mb-3">
          <h4>Update result</h4>
        </div>
      <%- include('./partials/error.ejs') %>
        
        <div class="row">
          <div class="col-md">
            <div class="list-group">
              <a href="/result/resultSheets" class="list-group-item list-group-item-action list-group-item-info">Result Sheets</a>
              <a href="/result/file_upload" class="list-group-item list-group-item-action list-group-item-success">Direct File Upload</a>
              <a
                href="/result/class/99"
                class="list-group-item list-group-item-action list-group-item-dark"
                >Nursery</a
              >
              <a
                href="/result/class/100"
                class="list-group-item list-group-item-action list-group-item-warning"
                >K.G</a
              >
              <a
                href="/result/class/1"
                class="list-group-item list-group-item-action list-group-item-primary"
                >Class 1</a
              >
              <a
                href="/result/class/2"
                class="list-group-item list-group-item-action list-group-item-success"
                >Class 2</a
              >
              <a
                href="/result/class/3"
                class="list-group-item list-group-item-action list-group-item-secondary"
                >Class 3</a
              >
              <a
                href="/result/class/4"
                class="list-group-item list-group-item-action list-group-item-info"
                >Class 4</a
              >
              <a
                href="/result/class/5"
                class="list-group-item list-group-item-action list-group-item-warning"
                >Class 5</a
              >
              <a
                href="/result/class/6"
                class="list-group-item list-group-item-action list-group-item-danger"
                >Class 6</a
              >
              <!-- <a
                href="/result/class/7"
                class="list-group-item list-group-item-action list-group-item-primary"
                >Class 7</a
              >
              <a
                href="/result/class/8"
                class="list-group-item list-group-item-action list-group-item-dark"
                >Class 8</a
              >
              <a
                href="/result/class/9"
                class="list-group-item list-group-item-action list-group-item-warning"
                >Class 9</a
              >
              <a
                href="/result/class/10"
                class="list-group-item list-group-item-action list-group-item-success"
                >Class 10</a
              > -->
            </div>
          </div>
        </div>
        
      </div>

      
</body>