<body>
    <%- include('./partials/header.ejs') %> 
    <div class="container-fluid border mt-4 p-4" style="max-width: 300px;border-radius: 10px;">
        <!-- Form  -->
            <div class="container">
                <h4>Change Password</h4>
            </div>
             
                <%- include('./partials/error.ejs') %>
            
            <form action="/admin/change_password" method="POST">
                <div class="container mt-5">
                    <div class="row mt-3">
                        <input type="text" class="form-control" name="campus"  placeholder="Campus" required>
                    </div>
                    <div class="row mt-3">
                        <input type="text" class="form-control" name="oldPassword" placeholder="Old Password" required>
                    </div>
                    <div class="row mt-3">
                        <input type="text" class="form-control" name="newPassword" placeholder="New Password" required>
                    </div>
                    <div class="row d-flex justify-content-start mt-4">
                        <input class="btn btn-outline-dark mr-2" name="submit" type="submit" value="Change">
                    </div>
                </div>
            </form>
        </div> 
</body>