<% if (locals.errorMessage != null) {%> 
    <div class="container text-center" style="max-width: 400px;">
        <div class="alert alert-danger">
            <%= errorMessage %>
          </div>
    </div>
<% } %> 