<% if (locals.Message != null) {%> 
    <div class="container text-center" style="max-width: 400px;">
        <div class="alert alert-success">
            <%= Message %>
          </div>
    </div>
<% } %> 