<div id="demo" class="carousel slide hideInMobile bg-light" data-ride="carousel" style="opacity: 0.7;">
   <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col">
            <img class="img-fluid" src="/img/banner/DhakaBoard-1.svg" alt="DhakaBoard">
        </div>
        <div class="col">
            <img class="img-fluid" src="/img/banner/British-Council.svg" alt="DhakaBoard">
        </div>
        <div class="col">
            <img class="img-fluid" src="/img/banner/Cambridge.svg" alt="DhakaBoard">
        </div>
        <div class="col">
            <img class="img-fluid" src="/img/banner/EDEXCEL.svg" alt="DhakaBoard">
        </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col">
            <img class="img-fluid" src="/img/banner/British-Council.svg" alt="DhakaBoard">
        </div>
        <div class="col">
            <img class="img-fluid" src="/img/banner/DhakaBoard-1.svg" alt="DhakaBoard">
        </div>
        <div class="col">
            <img class="img-fluid" src="/img/banner/Cambridge.svg" alt="DhakaBoard">
        </div>
        <div class="col">
            <img class="img-fluid" src="/img/banner/EDEXCEL.svg" alt="DhakaBoard">
        </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col">
            <img class="img-fluid" src="/img/banner/British-Council.svg" alt="DhakaBoard">
        </div>
        <div class="col">
            <img class="img-fluid" src="/img/banner/EDEXCEL.svg" alt="DhakaBoard">
        </div>
        <div class="col">
            <img class="img-fluid" src="/img/banner/Cambridge.svg" alt="DhakaBoard">
        </div>
        <div class="col">
            <img class="img-fluid" src="/img/banner/DhakaBoard-1.svg" alt="DhakaBoard">
        </div>
    </div>
    </div>
  </div>

</div>

<div id="demo_2" class="carousel slide showInMobile bg-light" data-ride="carousel" style="opacity: 0.7;">
   <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col">
            <img class="img-fluid" src="/img/banner/DhakaBoard-1.svg" alt="DhakaBoard">
        </div>
        <div class="col">
            <img class="img-fluid" src="/img/banner/British-Council.svg" alt="DhakaBoard">
        </div>
        
    </div>
    </div>
    <div class="carousel-item">
      <div class="row">
       <div class="col">
            <img class="img-fluid" src="/img/banner/Cambridge.svg" alt="DhakaBoard">
        </div>
        <div class="col">
            <img class="img-fluid" src="/img/banner/EDEXCEL.svg" alt="DhakaBoard">
        </div>
    </div>
    </div>
  </div>

</div>

<div class="container-fluid bg-light text-light border" id="footer">
<div class="container-fluid d-flex justify-content-center p-3">
          <img class="mt-2" src="/img/logo.png" alt="Quran" height="200px" width="auto">
</div>
<div class="container-fluid d-flex justify-content-end">
    <a href="#mainDiv_1" target="_blank" data-toggle="tooltip" title="Go to top!"><i style='font-size:30px; color: white;' class='far'>&#xf35b;</i></a>
</div>
<div class="row">
    <div class="col-sm">
        <h5>Madarbari Campus</h5>
        <!-- <i class='fas fa-map-marker-alt' style='font-size:24px'></i></i>&nbsp;&nbsp;&nbsp; -->
        <p class="ftr_address">314, Daragahat Road, Kamal Gate Bazar, East Madarbari, Sadarghat, Chattogram. <br>
            <a style="text-decoration: none; color: white;" href="tel:+8801934683353">01934-683353</a>
        </p>
    </div>
    <div class="col-sm">
        <h5>Majhirghat Campus</h5>
        <!-- <i class='fas fa-map-marker-alt' style='font-size:24px'></i></i>&nbsp;&nbsp;&nbsp; -->
        <p class="ftr_address">104, Majhirghat Road (Mawlana Akther Shah Lane, Meer Bari), East Madarbari, Sadarghat, Chattogram.<br>
            <a style="text-decoration: none; color: white;" href="tel:+8801686031157">01686-031157</a>
        </p>
    </div>
    <div class="col-sm">
        <h5>Khulshi Campus</h5>
        <!-- <i class='fas fa-map-marker-alt' style='font-size:24px'></i></i>&nbsp;&nbsp;&nbsp; -->
        <p class="ftr_address">Block C, Lane-02, Road No-01, South Khulshi, Chattogram.<br>
            <a style="text-decoration: none; color: white;" href="tel:+8801886683453">01886-683453</a>
        </p>
        <a href=""></a>
    </div>
    <div class="col hideInMobile">
        <div class="container-fluid d-flex justify-content-start">
        <i class='far fa-envelope-open' style='font-size:24px'></i>&nbsp;&nbsp;&nbsp;
        <p class="ftr_address">alheraidealmadrasah@gmail.com</p>
        </div>
        <div class="container-fluid">
            <div class="container-fluid">
            <h6 class="text-light">FOLLOW US</h6>
                <a href="#" target="_blank" class="facebook text-light"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="twitter"><i class="fab fa-twitter text-light"></i></a>
                  <a href="#" class="google"><i class="fab fa-google text-light"></i></a>
                  <a href="#" class="linkedin"><i class="fab fa-linkedin-in text-light"></i></a>
                  <a href="#" class="youtube"><i class="fab fa-youtube text-light"></i></a>
            </div>
        </div>
    </div>

    <div class="col showInMobile">
        <div class="container-fluid d-flex justify-content-center">
        <i class='far fa-envelope-open' style='font-size:24px'></i>&nbsp;&nbsp;&nbsp;
        <p class="ftr_address">alhera@gmail.com</p>
        </div>
        <div class="container-fluid">
            <div class="container-fluid text-center">
            <h6 class="text-light">FOLLOW US</h6>
                <a href="#" target="_blank" class="facebook text-light"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="twitter"><i class="fab fa-twitter text-light"></i></a>
                  <a href="#" class="google"><i class="fab fa-google text-light"></i></a>
                  <a href="#" class="linkedin"><i class="fab fa-linkedin-in text-light"></i></a>
                  <a href="#" class="youtube"><i class="fab fa-youtube text-light"></i></a>
            </div>
        </div>
    </div>
    <hr>
    <!-- footer  -->
    
</div>
<div class="row">
      <div class="col-sm text-center d-flex flex-wrap align-content-center">
        <!-- <img class="img-fluid rounded p-2" src="/img/banner_2.jpg" alt="Football turf"> -->
        <div class="container p-3">
          <h1
            class="font-italic _head"
            id="firstHeading"
            style="font-family: Sofia, sans-serif;">
            Contact Us 24/7!!! <br/>
          </h1>
          <h2 class="font-italic hotline">
            <h3 class="_head">
                Hotline-1: <a class="_head" style="text-decoration: none; color: white;" href="tel:+8801834683353">01834-683353</a> 
            </h3>
            <h3 class="_head">
                Hotline-2: <a style="text-decoration: none; color: white;" href="tel:+8801686031157">01686-031157</a> 
            </h3>
          </h2>
        </div>
      </div>
      <div class="col">
        <div class="container">
            <h6>Find Us</h6>
            <i style='font-size:24px' class='fas'>&#xf3c5;</i><a class="text-light mapName" id="khulshiMap">&nbsp;Khulshi Campus</a>
            <i style='font-size:24px' class='fas'>&#xf3c5;</i><a class="text-light mapName" id="madarbariMap">&nbsp;Madarbari Campus</a>
            <i style='font-size:24px' class='fas'>&#xf3c5;</i><a class="text-light mapName" id="majhirghatMap">&nbsp;Majhirghat Campus</a>
        </div>
        <div class="container text-center embed-responsive embed-responsive-16by9" id="mapDiv">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.0593821581283!2d91.80871348126153!3d22.35757413796088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30acd914727b188b%3A0xf464111e14915a11!2sAl-hera%20Ideal%20Madrasah%20Khulshi%20Campus!5e0!3m2!1sen!2sbd!4v1700816592901!5m2!1sen!2sbd" id="map" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
    <div class="container-fluid d-flex justify-content-center">
        <p class="ftr_address">Copyright © 2023 Al-Hera All Rights Reserved. Developed by WebDev Solution -
            <a style="text-decoration: none; color: white;" href="tel:+8801886683453">01878-369731</a>
        </p>
    </div>
    <script>
        $("#khulshiMap").click(() => {
            $("#map").attr('src', "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3243.0593821581283!2d91.80871348126153!3d22.35757413796088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30acd914727b188b%3A0xf464111e14915a11!2sAl-hera%20Ideal%20Madrasah%20Khulshi%20Campus!5e0!3m2!1sen!2sbd!4v1700816592901!5m2!1sen!2sbd")
        })
        $("#madarbariMap").click(() => {
            $("#map").attr('src', "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1788.9583233382339!2d91.82440836400832!3d22.32960483920689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30acd90e2c36c9b7%3A0xff2beb8f9b95bec2!2sAl-%20hera%20ideal%20Madrasah.Madarbari%20Campus!5e0!3m2!1sen!2sbd!4v1700818572964!5m2!1sen!2sbd")
        })
        $("#majhirghatMap").click(() => {
            $("#map").attr('src', "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2734.715914508337!2d91.82136714459722!3d22.330293112873484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30acd9cb5c5b65e5%3A0x99afeeb9061d7aaf!2sAL-HERA%20IDEAL%20MADRASAH%20Majhirghat%20Campus!5e0!3m2!1sen!2sbd!4v1700818830506!5m2!1sen!2sbd")
        })
    </script>